<% provide(:title, "Welcome") %>
<h1>Welcome to the Basket Reader App</h1>

<h2>
  This is the home page for the Basket Reader App.
  To get started, log in or click the link below to sign up for an account!
</h2>
  <section><%= image_tag CatImageService.get_image, alt: 'cat' %></section>

<% if user_signed_in? %>
  <%= link_to "My Baskets", baskets_path, class: "btn btn-lg btn-primary" %>
<% else %>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
<% end %>
