---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_USE_MY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed Aug 11 2021 02:18:41 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '10418'
      Pagination-Page:
      - '0'
      Pagination-Limit:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 135ms
      X-Cloud-Trace-Context:
      - d7adaa78a71f8f8a410f39f9ea3ed458
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"oYRlo9UxZ","url":"https://cdn2.thecatapi.com/images/oYRlo9UxZ.png","width":2079,"height":2571}]'
  recorded_at: Wed, 11 Aug 2021 02:18:41 GMT
recorded_with: VCR 6.0.0
