---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_USE_MY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed Aug 11 2021 02:47:08 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '10418'
      Pagination-Page:
      - '0'
      Pagination-Limit:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 133ms
      X-Cloud-Trace-Context:
      - cd195f72b26a1eb46bde21eaaf41cb31
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"ddv","url":"https://cdn2.thecatapi.com/images/ddv.jpg","width":500,"height":457}]'
  recorded_at: Wed, 11 Aug 2021 02:47:09 GMT
recorded_with: VCR 6.0.0
