---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_USE_MY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed Aug 11 2021 12:43:32 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '10419'
      Pagination-Page:
      - '0'
      Pagination-Limit:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 275ms
      X-Cloud-Trace-Context:
      - b6ff3a4a4c4eaf8b2228432ae7a3c05b
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"dbs","url":"https://cdn2.thecatapi.com/images/dbs.jpg","width":3888,"height":2592}]'
  recorded_at: Wed, 11 Aug 2021 12:43:32 GMT
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_USE_MY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed Aug 11 2021 12:43:33 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '10419'
      Pagination-Page:
      - '0'
      Pagination-Limit:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 194ms
      X-Cloud-Trace-Context:
      - 31a2e2cb376ca3537e28519f762d1483
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"dl4","url":"https://cdn2.thecatapi.com/images/dl4.jpg","width":612,"height":612}]'
  recorded_at: Wed, 11 Aug 2021 12:43:33 GMT
recorded_with: VCR 6.0.0
