---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search?size=med
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_USE_MY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri Aug 13 2021 02:22:46 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '10419'
      Pagination-Page:
      - '0'
      Pagination-Limit:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 131ms
      X-Cloud-Trace-Context:
      - 9d629f4781db730a49aae71dfce73776
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"4lr","url":"https://cdn2.thecatapi.com/images/4lr.gif","width":200,"height":200}]'
  recorded_at: Fri, 13 Aug 2021 02:22:46 GMT
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search?size=med
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_USE_MY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri Aug 13 2021 02:22:47 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '10419'
      Pagination-Page:
      - '0'
      Pagination-Limit:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 199ms
      X-Cloud-Trace-Context:
      - c4df65d7b5acf6c2d4d68a467b811029
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"2a3","url":"https://cdn2.thecatapi.com/images/2a3.jpg","width":325,"height":300}]'
  recorded_at: Fri, 13 Aug 2021 02:22:47 GMT
recorded_with: VCR 6.0.0
