---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search?size=med
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_USE_MY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri Aug 13 2021 03:57:22 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '10419'
      Pagination-Page:
      - '0'
      Pagination-Limit:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 189ms
      X-Cloud-Trace-Context:
      - 9926f55126e6953b835eaf34a5aefcf8
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"dsa","url":"https://cdn2.thecatapi.com/images/dsa.jpg","width":640,"height":418}]'
  recorded_at: Fri, 13 Aug 2021 03:57:22 GMT
recorded_with: VCR 6.0.0
