<div class="center jumbotron">
  <h1>Welcome to the Basket Reader App</h1>

  <h2>
    This is the home page for the Basket Reader App.
    To get started, log in or click the link below to sign up for an account!
  </h2>
    <p><%= image_tag CatImageService.get_image, alt: 'cat' %><p>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
