---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_USE_MY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed Aug 11 2021 01:15:30 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '10418'
      Pagination-Page:
      - '0'
      Pagination-Limit:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 133ms
      X-Cloud-Trace-Context:
      - c018a58906c5e309554e34b544fb1372
    body:
      encoding: UTF-8
      string: '[{"breeds":[{"weight":{"imperial":"12 - 20","metric":"5 - 9"},"id":"ragd","name":"Ragdoll","cfa_url":"http://cfa.org/Breeds/BreedsKthruR/Ragdoll.aspx","vetstreet_url":"http://www.vetstreet.com/cats/ragdoll","vcahospitals_url":"https://vcahospitals.com/know-your-pet/cat-breeds/ragdoll","temperament":"Affectionate,
        Friendly, Gentle, Quiet, Easygoing","origin":"United States","country_codes":"US","country_code":"US","description":"Ragdolls
        love their people, greeting them at the door, following them around the house,
        and leaping into a lap or snuggling in bed whenever given the chance. They
        are the epitome of a lap cat, enjoy being carried and collapsing into the
        arms of anyone who holds them.","life_span":"12 - 17","indoor":0,"lap":1,"alt_names":"Rag
        doll","adaptability":5,"affection_level":5,"child_friendly":4,"dog_friendly":5,"energy_level":3,"grooming":2,"health_issues":3,"intelligence":3,"shedding_level":3,"social_needs":5,"stranger_friendly":3,"vocalisation":1,"experimental":0,"hairless":0,"natural":0,"rare":0,"rex":0,"suppressed_tail":0,"short_legs":0,"wikipedia_url":"https://en.wikipedia.org/wiki/Ragdoll","hypoallergenic":0,"reference_image_id":"oGefY4YoG"}],"id":"3XUcuC9fj","url":"https://cdn2.thecatapi.com/images/3XUcuC9fj.jpg","width":768,"height":1024}]'
  recorded_at: Wed, 11 Aug 2021 01:15:30 GMT
recorded_with: VCR 6.0.0
