---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_USE_MY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue Aug 10 2021 18:33:05 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '10418'
      Pagination-Page:
      - '0'
      Pagination-Limit:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 134ms
      X-Cloud-Trace-Context:
      - 5770b4b546ddc95108d6a2816b7510e5
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"d86","url":"https://cdn2.thecatapi.com/images/d86.jpg","width":320,"height":240}]'
  recorded_at: Tue, 10 Aug 2021 18:33:05 GMT
recorded_with: VCR 6.0.0
