---
http_interactions:
- request:
    method: get
    uri: https://api.thecatapi.com/v1/images/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<DONT_USE_MY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue Aug 10 2021 17:55:10 GMT+0000 (Coordinated Universal Time)
      Pagination-Count:
      - '10418'
      Pagination-Page:
      - '0'
      Pagination-Limit:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 132ms
      X-Cloud-Trace-Context:
      - 494b57c40ce42518dbfbba3d94cabea2
    body:
      encoding: UTF-8
      string: '[{"breeds":[],"id":"b40","url":"https://cdn2.thecatapi.com/images/b40.jpg","width":900,"height":1200}]'
  recorded_at: Tue, 10 Aug 2021 17:55:10 GMT
recorded_with: VCR 6.0.0
